body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.zone-haut {
    background-color: red;
    color: black;
    text-align: left;
    padding: 30px;
    font-weight: bold;
}

.container {
    position: relative;
    height: 90vh;
    width: 100%;
}

.zone-gauche,
.zone-milieu,
.zone-droite {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 10px;
}

.zone-gauche {
    background-color: blue;
    color: black;
    width: 20%;
    left: 0;
}

.zone-milieu {
    background-color: green;
    color: black;
    width: 60%;
    left: 20%;
}

.zone-droite {
    background-color: #5b3c11;
    color: black;
    width: 20%;
    right: 0;
}
