body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

/* Conteneur principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
    margin-bottom: 30px; /* Espacement global */
}

/* En-tête */
.header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px; /* Espacement sous l'en-tête */
}

/* Images alignées à gauche */
.images {
    margin-bottom: 30px; /* Espace sous l'image */
    float: left; /* Aligne l'image à gauche */
    margin-right: 20px; /* Espace entre l'image et les autres éléments */
}

/* Espacement entre les sections "Liste des cours" et "TP" */
.list {
    border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
}