/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 4 févr. 2025, 12:23:39
    Author     : UTI010
*/
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      padding: 0;
      box-sizing: border-box;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .header {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .images {
    display: flex;
    justify-content: center;
    gap: 20px; /* Ajustez cette valeur selon l'espacement désiré */
  }

  .images img {
    width: 74px;
    height: 60px;
    object-fit: contain;
    border: none;
    margin-bottom: 10px;
  }
    
    .description {
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      text-align: left;
      margin-bottom: 20px;
    }
    .list {
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
    }
    .list ol {
      margin: 0;
      padding-left: 20px;
    }